.row {
	max-width: 100%;
}

.tab-bar {
	position: fixed;
}

.main-section {
	padding-top: 50px;
}

.jokes {
	background: green;
	margin-bottom: 5px;
}

.jokes p {
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}

footer {
	background: #000;
	text-align: center;
}

/*Banner*/

#video-viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
/*    z-index: -1;*/
    min-width: 100%;
    min-height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

.vid_properties{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;

}
